<html>
<head>
<title>Know your weather!</title>
</head>
<body style="background-color:black;">
<center>
<h1 style="color:blue;">Get to know about weather in differnt places!!</h1>
<h2 style="color:blue;">Steps to find the weather:</h2>
<h3 style="color:blue;">Steps:</h3>
<p style="color:blue;">Type the place you want to know like this below (replace "chennai" with the place of your wish)</p>
<br><br>
<img src="https://cdn.discordapp.com/attachments/786570348358402058/789745441575010314/unknown.png">
<br><br>
<p style="color:blue;">Click enter and voila! you get the data</p>
<br><br>
<img src="https://cdn.discordapp.com/attachments/786570348358402058/789746268741566484/unknown.png">
<br><br>
<p style="color:blue;">Troubleshooting: Check if you typed it correctly</p>
</center>
</body>
</html>
